@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

:root {
  --background: oklch(0.9777 0.0041 301.4256);
  --foreground: oklch(0.3729 0.0306 259.7328);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3729 0.0306 259.7328);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3729 0.0306 259.7328);
  --primary: oklch(0.5798 0.1132 49.4719);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8412 0.0402 57.2748);
  --secondary-foreground: oklch(0.3562 0 0);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9449 0.0154 48.5561);
  --accent-foreground: oklch(0.3729 0.0306 259.7328);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --border-secondary: oklch(0.8412 0.0402 57.2748);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.5798 0.1132 49.4719);
  --chart-1: oklch(0.931 0 0);
  --chart-2: oklch(0.9449 0.0154 48.5561);
  --chart-3: oklch(0.8412 0.0402 57.2748);
  --chart-4: oklch(0.5798 0.1132 49.4719);
  --chart-5: oklch(0.3562 0 0);
  --sidebar: oklch(0.9449 0.0154 48.5561);
  --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-primary: oklch(0.5798 0.1132 49.4719);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8412 0.0402 57.2748);
  --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.5798 0.1132 49.4719);
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0.02rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 5px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 5px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 2px 4px -2px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 8px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 5px -1px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --letter-spacing: 0em;
  --shadow-offset-x: var(--shadow-x);
  --shadow-offset-y: var(--shadow-y);
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.7118 0.0129 286.0665);
  --card: oklch(0.2795 0.0368 260.0310);
  --card-foreground: oklch(0.8717 0.0093 258.3382);
  --popover: oklch(0.2795 0.0368 260.0310);
  --popover-foreground: oklch(0.8717 0.0093 258.3382);
  --primary: oklch(0.7729 0.1535 163.2231);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.3351 0.0331 260.9120);
  --secondary-foreground: oklch(0.7118 0.0129 286.0665);
  --muted: oklch(0.2463 0.0275 259.9628);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.3729 0.0306 259.7328);
  --accent-foreground: oklch(0.7118 0.0129 286.0665);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.2077 0.0398 265.7549);
  --border: oklch(0.4461 0.0263 256.8018);
  --input: oklch(0.4461 0.0263 256.8018);
  --ring: oklch(0.7729 0.1535 163.2231);
  --chart-1: oklch(0.7729 0.1535 163.2231);
  --chart-2: oklch(0.7845 0.1325 181.9120);
  --chart-3: oklch(0.7227 0.192 149.5793);
  --chart-4: oklch(0.6959 0.1491 162.4796);
  --chart-5: oklch(0.596 0.1274 163.2254);
  --sidebar: oklch(0.2795 0.0368 260.0310);
  --sidebar-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-primary: oklch(0.7729 0.1535 163.2231);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.3729 0.0306 259.7328);
  --sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-border: oklch(0.4461 0.0263 256.8018);
  --sidebar-ring: oklch(0.7729 0.1535 163.2231);
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0.02rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 5px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 5px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 1px 2px -2px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 2px 4px -2px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 4px 6px -2px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 5px -1px hsl(0 0% 0% / 0.05), 0px 8px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 5px -1px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --letter-spacing: 0em;
  --shadow-offset-x: var(--shadow-x);
  --shadow-offset-y: var(--shadow-y);
}